@import 'variables';
@import 'reset';
@import 'includes/include-media.scss';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  // background: $background-color;
  font-family: $font-primary;
}

a {
  text-decoration: none;
  color: $color-black;
}

.lock {
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  padding: 12px 0;
}

.page-headline {
  text-align: center;
  margin-top: 2.5rem;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-weight: 500;
  text-transform: uppercase;
  font-family: $font-title;
}

h1,
.h1 {
  font-size: 68px;
  line-height: 72px;
  @include media('<=tablet') {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.5px;
  }
}

h2,
.h2 {
  font-size: 48px;
  line-height: 48px;
  @include media('<=tablet') {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.5px;
  }
}

h3,
.h3 {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.5px;
}

h4,
.h4 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.paragraph {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.5px;
}

p {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  margin-bottom: 16px;
  &:after {
    content: '';
    display: inline-block;
    width: 0px;
    margin-bottom: 0px;
  }
}
.paragraph-one {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.2px;
  @include media('<=tablet') {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
}

.paragraph-two {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

strong,
.p-bold {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.button-text {
  font-family: $font-title;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.body,
td,
td p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

td {
  padding-top: 12px;
  padding-left: 12px;
  &:last-of-type {
    padding-left: 0;
  }
}

.body-bold {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: bold;
}

.small {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  p {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}

.small-bold {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px;
  font-weight: bold;
}

.x-small {
  font-weight: 300;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.x-small-regular {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.x-small-bold {
  font-weight: bold;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

ul {
  padding-left: 20px;
}
li {
  font-weight: 500;
  list-style: disc;
  padding-top: 12px;
}

.bold-breadcrumb {
  font-weight: 500;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
