@mixin container() {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 80px;
  @include media('<=tablet') {
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin button-reset() {
  appearance: none;
  border: none;
  border-radius: 0;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  color: currentColor;
}
