//    FONTS   \\
$font-primary: 'nunito', serif;
$font-title: 'attic-antique', serif;

// HEIGHTS \\
$nav-height: 110px;

//    COLORS   \\
$color-white: #fff;
$color-overlay: rgba(#000, 0.5);
$color-gradient: linear-gradient(
  360deg,
  #000000 0%,
  rgba(37, 36, 34, 0) 41.92%,
  rgba(142, 146, 163, 0) 41.93%
);

$color-error: #fa2500;
$color-succes: #2db82a;
$color-yellow: #fde603;
$color-black: rgb(22, 22, 22);
$color-blue: #00b8db;
$color-greyblue: #becccc;
$color-pink: #fc036e;

// STYLES \\
$border-radius: 4px;
